@dropDown: true;
.ddm() when (@dropDown) {
  > li > .dropdown-menu {
      background-color: @xivo-dark;
      > li {
        > a {
          color: @xivo-light-gray;
          &:hover,  &:focus {
            color: @xivo-light;
            background-color: @xivo-primary; }}
        &.divider {
          background-color: @xivo-primary;}}}
  .open .dropdown-menu > .active {
    > a, > a:hover, > a:focus {
      color: @xivo-light;
      background-color: @xivo-primary; }}}

.navbar-default {
  background-color: @xivo-dark;
  border-color: @xivo-primary;
  .navbar-brand {
    color: @xivo-light-gray;
  .navbar-text {
    color: @xivo-light-gray; }
  .navbar-nav {
    > li {
      > a {
        color: @xivo-light-gray;
        &:hover,  &:focus {
          color: @xivo-light; }}}
    .ddm;
    > .active {
      > a, > a:hover, > a:focus {
        color: @xivo-light;
        background-color: @xivo-primary; }}
    > .open {
      > a, > a:hover, > a:focus {
        color: @xivo-light;
        background-color: @xivo-primary; }}}
  .navbar-toggle {
    border-color: @xivo-primary;
    &:hover, &:focus {
      background-color: @xivo-primary; }
    .icon-bar {
      background-color: @xivo-light-gray; }}
  .navbar-collapse,
  .navbar-form {
    border-color: @xivo-light-gray; }
  .navbar-link {
    color: @xivo-light-gray;
    &:hover {
      color: @xivo-light; }}}}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu {
    > li > a {
      color: @xivo-light-gray;
      &:hover, &:focus {
        color: @xivo-light; }}
    > .active {
      > a, > a:hover, > a:focus {
        color: @xivo-light;
        background-color: @xivo-primary; }}}}

.navbar-fixed-top {
  border-width: 0 0 3px;
}

.sidebar {
  background-image: @background-gray;
  border-right: 1px solid @xivo-primary;
  position: fixed;
  height: 100%;
  padding-top: 10px;
}
