git+https://github.com/wazo-pbx/xivo-provd-client.git
git+https://github.com/wazo-pbx/xivo-test-helpers.git
docker-compose
nose
psycopg2  # sqlalchemy engine
pyhamcrest
pyvirtualdisplay
requests<2.7  # docker-compose 1.3 refuses requests>=2.7
sqlalchemy
selenium
dataset
mock
kombu
