Source: xivo-web-interface
Section: web
Priority: extra
Maintainer: Wazo Maintainers <dev.wazo@gmail.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6

Package: xivo-web-interface
Pre-depends: xivo-config (>= 14.17~20140902.163641.dc5c476-1)
Architecture: all
Depends: 
    curl,
    munin,
    php-amqplib,
    php-cgi,
    php-curl,
    php-gd,
    php-json,
    php-pgsql,
    spawn-fcgi,
    xivo-nginx,
    xivo-sysconfd
Provides: pf-xivo-web-interface
Conflicts: pf-xivo-web-interface
Replaces: pf-xivo-web-interface
Description: Wazo web interface
 Wazo is a system based on a powerful IPBX, to bring an easy to
 install solution for telephony and related services.
 .
 This package contains a comprehensive web interface to
 configure the Wazo solution.
 .
