Source: xivo-web-interface
Section: web
Priority: extra
Maintainer: XiVO Dev Team <dev@avencall.com>
Uploaders: XiVO Builder Team <release@xivo.io>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.7.2.2

Package: xivo-web-interface
Pre-depends: xivo-config (>= 14.17~20140902.163641.dc5c476-1)
Architecture: all
Depends: 
    curl,
    munin,
    nginx,
    php-amqplib,
    php5-cgi (>= 5.6),
    php5-cli,
    php5-curl,
    php5-gd,
    php5-json,
    php5-ldap,
    php5-pgsql,
    spawn-fcgi,
    xivo-sysconfd
Provides: pf-xivo-web-interface
Conflicts: pf-xivo-web-interface
Replaces: pf-xivo-web-interface
Description: XIVO web interface
 XIVO is a system based on a powerful IPBX, to bring an easy to
 install solution for telephony and related services.
 .
 This package contains a comprehensive web interface to
 configure the XIVO solution.
 .
  Homepage: http://xivo.io/
